// 기본 버튼 스타일 재정의
.my-custom-button {
    --button-primary-color: #4caf50 !important; // 기본 버튼 색상
    --button-primary-color-dark: #388e3c; // 어두운 색상
    --button-default-border-radius: 6px;
    --button-primary-color-light : #ffffff;
    --button-primary-color-hover : #66bb6a;;
    --button-primary-color-active: #388e3c;
    width: 100%;
}
  