.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px;
  color: #000;
}


/* Dot 스타일 */
.slick-dots li button:before {
  font-size: 14px;
  color: rgb(97, 97, 97);
}

.slick-dots li.slick-active button:before {
  color: #000000;
}